<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Shenzhen PDF</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
				<string>markdown</string>
				<string>mdown</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Markdown Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
				<string>public.markdown</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xps</string>
				<string>oxps</string>
				<string>epub</string>
				<string>mobi</string>
				<string>prc</string>
				<string>pdb</string>
				<string>fb2</string>
				<string>docx</string>
				<string>xlsx</string>
				<string>pptx</string>
				<string>hwpx</string>
				<string>cbz</string>
				<string>cbt</string>
				<string>zip</string>
				<string>tar</string>
				<string>svg</string>
				<string>svgz</string>
				<string>png</string>
				<string>jpg</string>
				<string>jpeg</string>
				<string>jpe</string>
				<string>jfif</string>
				<string>jfif-tbnl</string>
				<string>bmp</string>
				<string>gif</string>
				<string>tif</string>
				<string>tiff</string>
				<string>jp2</string>
				<string>jpx</string>
				<string>j2k</string>
				<string>jb2</string>
				<string>jbig2</string>
				<string>pnm</string>
				<string>pam</string>
				<string>pbm</string>
				<string>pgm</string>
				<string>ppm</string>
				<string>pfm</string>
				<string>psd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bash</string>
				<string>c</string>
				<string>c++</string>
				<string>cc</string>
				<string>cjs</string>
				<string>cpp</string>
				<string>cs</string>
				<string>csharp</string>
				<string>css</string>
				<string>csv</string>
				<string>cts</string>
				<string>cxx</string>
				<string>dart</string>
				<string>gemspec</string>
				<string>go</string>
				<string>h</string>
				<string>h++</string>
				<string>haskell</string>
				<string>hh</string>
				<string>hpp</string>
				<string>hs</string>
				<string>htm</string>
				<string>html</string>
				<string>hxx</string>
				<string>ini</string>
				<string>java</string>
				<string>javascript</string>
				<string>js</string>
				<string>json</string>
				<string>jsonc</string>
				<string>jsx</string>
				<string>kotlin</string>
				<string>ksh</string>
				<string>kt</string>
				<string>kts</string>
				<string>latex</string>
				<string>less</string>
				<string>log</string>
				<string>lua</string>
				<string>m</string>
				<string>mjs</string>
				<string>mm</string>
				<string>mts</string>
				<string>objc</string>
				<string>perl</string>
				<string>php</string>
				<string>phtml</string>
				<string>pl</string>
				<string>plain</string>
				<string>plaintext</string>
				<string>plist</string>
				<string>pm</string>
				<string>py</string>
				<string>pyi</string>
				<string>python</string>
				<string>pyw</string>
				<string>r</string>
				<string>rb</string>
				<string>rs</string>
				<string>rscript</string>
				<string>rss</string>
				<string>ruby</string>
				<string>rust</string>
				<string>sbt</string>
				<string>scala</string>
				<string>scss</string>
				<string>sh</string>
				<string>shell</string>
				<string>sql</string>
				<string>sty</string>
				<string>swift</string>
				<string>tex</string>
				<string>text</string>
				<string>toml</string>
				<string>ts</string>
				<string>tsv</string>
				<string>tsx</string>
				<string>txt</string>
				<string>typescript</string>
				<string>xhtml</string>
				<string>xml</string>
				<string>xsd</string>
				<string>xsl</string>
				<string>xslt</string>
				<string>yaml</string>
				<string>yml</string>
				<string>zsh</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Text and Source Code</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ShenzhenPDF</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.intuition.shenzhenpdf</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShenzhenPDF</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>26.10.6</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
